<div class="page-body">
  <div class="row">

    <div class="col-xl-12 col-md-12">
      <app-card [title]="'Gestion des utilisateurs'" [cardClass]="'table-card'">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Name</th>
              <th >Email</th>
              <th >Active</th>
              <th class="text-right">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of listUsers">
              <td>
                <div class="d-inline-block align-middle">
                  <img src="assets/images/avatar-4.jpg" alt="user image" class="img-radius img-40 align-top m-r-15">
                  <div class="d-inline-block">
                    <h6>{{user.login}}</h6>
                  </div>
                </div>
              </td>
              <td>{{user.email}} </td>
              <td>
                <span style="color: #4CD964" *ngIf="user.active ===true"><label class="label label-success">activate</label></span>
                <span style="color: #de0808" *ngIf="user.active ===false"><label class="label label-danger">deactivate</label></span>
              </td>
              <td class="text-right">
              <a href="javascript:" (click)="openMyModal( $event,'effect-3', user)"><i class="fa fa-pencil-square-o f-16 m-r-15"></i></a>
              <a href="javascript:" (click)="openMyModal( $event,'effect-2', user )"><i class="fa fa-trash f-16"></i></a>

              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-right m-r-20">
            <a href="javascript:" class=" b-b-primary text-primary">View all Users</a>
          </div>
        </div>
      </app-card>
    </div>
  </div>
</div>


<app-modal-animation [modalID]="'effect-2'" [modalClass]="'md-effect-2'" >
  <h3>Delete this Profil</h3>
  <div>
    <p>Are you sure you want to delete this profile ?</p>
  </div>
  <div class="modal-footer p-0">
    <button (click)="deleteUser()" class="btn btn-grd-danger ripple light md-close m-1 ">confirm</button>
    <button (click)="closeMyModal($event)" class="btn btn-grd-inverse ripple light md-close m-1  ">Cancel</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
</app-modal-animation>

<app-modal-animation [modalID]="'effect-3'" [modalClass]="'md-effect-3'" >
  <h3>Activate or deactivate this Profil</h3>
  <div>
    <p>Are you sure you want to Activate or deactivate this profile ?</p>
  </div>
  <div class="modal-footer p-0">
    <button (click)="updateUser()" class="btn btn-grd-info ripple light md-close m-1 ">confirm</button>
    <button (click)="closeMyModal($event)" class="btn btn-grd-inverse ripple light md-close m-1  ">Cancel</button>
  </div>
  <button (click)="closeMyModal($event)" aria-label="Close" class="md-close-btn"><i class="icofont icofont-ui-close"></i></button>
</app-modal-animation>


<ng2-toasty [position]="'top-right'"></ng2-toasty>
