<div class="page-body">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <h5>Ajouter une nouvelle Dépense</h5>
            </div>
            <div class="card-block">
              <form class="form-material" action="javascript:">

               <div class="row">
                <div class="form-group form-primary col-md-6">
                  <input type="text" name="Nom" class="form-control" required="true"
                         [(ngModel)]="receipt.libelle">

                  <label class="float-label p-l-15">Label du Dépense</label>
                </div>

                <div class="form-group form-primary col-md-6">
                  <input type="number" name="Montant" class="form-control" required=""
                         [(ngModel)]="receipt.amount"  >
                  <span class="form-bar"></span>
                  <label class="float-label p-l-15">Montant</label>
                </div>
               </div>
                <div  class="form-group form-primary">
                  <label>Article</label>
                  <select class="form-control" id="exampleFormControlSelect" (change)="buildParagraphes($event.target)">
                    <option>choisir un article</option>
                    <option value="AUTRES RECETTES FISCALES">AUTRES RECETTES FISCALES</option>
                    <option value="AUTRES RECETTES">AUTRES RECETTES</option>
                    <option value="RECETTES DIVERSES">RECETTES DIVERSES</option>
                    <option value="DONS">DONS</option>
                    <option value="RECETTES FISCALES">RECETTES FISCALES</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Paragraphe</label>
                  <select class="form-control" id="exampleFormControlSelect1" (change)="buildSousParagraphes($event.target)">
                    <option>choisir une Paragraphe</option>
                    <option  *ngFor="let paragraphe of paragraphes" [value]="paragraphe.name">{{paragraphe.name}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Sous Paragraphe</label>
                  <select class="form-control" id="exampleFormControlSelect2" (change)="buildRubrics($event.target)">
                    <option>choisie un Sous Paragraphe</option>
                    <option *ngFor="let sousParagraphe of sousParagraphes" [value]="sousParagraphe.name">{{sousParagraphe.name}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Rebrique</label>
                  <select class="form-control" id="exampleFormControlSelect3" (change)="buildSousRubrics($event.target)"
                          [(ngModel)]="receipt.rubricId" name="rubric">
                    <option>choisir une Rebrique</option>
                    <option *ngFor="let rubric of rubrics" [value]="rubric.id">{{rubric.name}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Sous Rebrique</label>
                  <select class="form-control" id="exampleFormControlSelect4" (change)="buildRepartitions($event.target)"
                          [(ngModel)]="receipt.sousRubricId"  name="sousRubric">
                    <option>choisir une Sous Rebrique</option>
                    <option *ngFor="let sousRubric of sousRubrics" [value]="sousRubric.id">{{sousRubric.name}}</option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Repartition</label>
                  <select class="form-control" id="exampleFormControlSelect5"
                          [(ngModel)]="receipt.repartitionId"  name="repartition">>
                    <option>choisir une Repartition</option>
                    <option *ngFor="let repartition of repartitions" [value]="repartition.id">{{repartition.name}}</option>
                  </select>
                </div>

                <div class="text-right">
                  <button (click)="close()" class="btn btn-grd-inverse ripple light md-close m-1  ">Cancel</button>
                  <button class="btn btn-grd-success ripple light md-close m-1">confirm</button>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>
    </div>
<ng2-toasty [position]="'top-right'"></ng2-toasty>
