<div class="page-body">
    <app-card [title]="'Recettes de l\'Etat'">
      <div class="card card-chart">
        <div class="card-body">
          <div class="col-md-12">
            <div class="card demo-icons">
              <div class="card-body">
                <div echarts [options]="chartExpensesByArticles" [theme]="theme" class="demo-chart"
                     (chartClick)="getDetailsArticle($event)"></div>
              </div>
            </div>
          </div>


          <div class="col-md-12" *ngIf="showDetailsArticle" >
            <div class="card demo-icons">
              <div class="card-body">
                <div echarts [options]="chartParagraph" class="demo-chart"></div>
              </div>
            </div>
          </div>

          <div class="col-md-12" *ngIf="showDetailsArticle" >
<!--            <div class="card demo-icons">-->
<!--              <div class="card-header">-->
<!--                <h4 class="card-title"> Recettes par Sous-Paragraphe</h4>-->
<!--              </div>-->
<!--              <div class="card-body">-->
<!--                <ag-grid-angular-->
<!--                  style="width: 1000px; height: 350px;"-->
<!--                  class="ag-theme-bootstrap"-->
<!--                  [rowData]="listReceiptBySousParagraph2"-->
<!--                  [columnDefs]="columnDefs"-->
<!--                  [pagination]=true-->
<!--                  [paginationPageSize]="10"-->
<!--                  [gridOptions]="gridOptions">-->
<!--                </ag-grid-angular>-->
<!--              </div>-->
<!--            </div>-->

            <div class="row">
              <div class="col-xl-12 col-md-12">
                <app-card [title]="'Recettes par Sous-Paragraphe'" [cardOptionBlock]="true">
                  <div class="table-responsive">
                    <table  class="table table-hover">
                      <thead>
                      <tr>
                        <th>Name</th>
                        <th class="text-right">Value</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let data of listReceiptBySousParagraph2">
                        <td>{{data.name}}</td>
                        <td align="right">{{data.value}}</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </app-card>
                <!-- contact data table card end -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </app-card>
</div>
