<div class="page-body">

  <div class="col-sm-12">
    <app-card [title]="'Dépenses par Institution'" [blockClass]="'panels-wells'" [cardOptionBlock]="true">
      <div class="row">
        <div class="col-xl-12 col-lg-8 col-md-6 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading bg-primary">
              Dépenses par Institution
            </div>
            <div class="panel-body">
              <p>Depuis la mise en œuvre de la LOLF, le budget général
                de l’État est présenté en missions, qui identifient les grandes politiques publiques,
                elles-mêmes scindées en programmes, concourant à cette politique déclinée en actions.
                Les programmes sont l’unité de spécialité des crédits sur laquelle repose l’autorisation
                budgétaire donnée par le Parlement ; les programmes constituent par conséquent
                des enveloppes globales et limitatives de crédits mis à disposition d’un ministère.</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>

<app-card [title]="'Dépense de l\'Etat'">
    <div class="card demo-icons col-12">


<!--          <div class="btn-group" role="group" aria-label="Third group">-->
<!--            <button (click)="buildChartExpenseAllEntities()" type="button" class="btn btn-info"-->
<!--                    title="Dépense par ministère">-->
<!--              <span class="fa fa-bar-chart" aria-hidden="true"></span>-->
<!--            </button>-->
<!--          </div>-->

          <div class="form-group">
          <select
            class="form-control"  #mySelect  (change)="findEntityExpenses(mySelect.value)">
            <option disabled selected>Sélectionner une institution</option>
            <option style="overflow:hidden;white-space:nowrap; text-overflow:ellipsis;"
                    *ngFor="let entity of entities" [value]="entity.entity">{{entity.entityName}}</option>
          </select>
          </div>



      <div class="card-body ">
        <div *ngIf="showChartExpenseAllEntities" echarts [options]="chartExpenseAllEntities" class="demo-chart"></div>
        <div *ngIf="!showChartExpenseAllEntities" echarts [options]="chartExpenseBySsNature" [theme]="theme" class="demo-chart"></div>
      </div>
      <div class="card-footer" *ngIf="!showChartExpenseAllEntities">
        <hr>
        <div class="stats">
          <span class="text-muted"><i class="nc-icon nc-bank "></i> {{entityName}} :
            <b> {{sumExpense}} ({{percentage }}% )  rapport au budget alloué au ministère</b>
          </span>
        </div>
      </div>

    </div>


<div class="col-md-12" style="padding-right: 25px;padding-left: 0px;" *ngIf="!showChartExpenseAllEntities">

<!--    <div class="card-body">-->

<!--      <ag-grid-angular-->
<!--        style="width: 1000px; height: 350px;"-->
<!--        class="ag-theme-bootstrap"-->
<!--        [rowData]="expenseByNature2"-->
<!--        [columnDefs]="columnDefs"-->
<!--        [pagination]=true-->
<!--        [paginationPageSize]="10"-->
<!--        [gridOptions]="gridOptions"-->
<!--      >-->
<!--      </ag-grid-angular>-->
<!--    </div>-->
    <!--    </div>-->
    <div class="row">
      <div class="col-xl-12 col-md-12">
        <app-card [title]="'Dépense par Sous Nature'" [cardOptionBlock]="true">
            <div class="table-responsive">
              <table  class="table table-hover">
                <thead>
                <tr>
                  <th>Name</th>
                  <th class="text-right">Value</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of expenseByNature2">
                  <td>{{data.name}}</td>
                  <td align="right">{{data.value}}</td>
                </tr>
                </tbody>
              </table>
            </div>
        </app-card>
        <!-- contact data table card end -->
      </div>
    </div>
</div>
</app-card>
</div>
