<div class="page-body">
  <div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Budget de l\'Etat'" [blockClass]="'panels-wells'" [cardOptionBlock]="true">
      <div class="row">
        <div class="col-xl-12 col-lg-8 col-md-6 col-sm-4">
          <div class="panel panel-primary">
            <div class="panel-heading bg-primary">
              Budget de l'Etat
            </div>
            <div class="panel-body">
              <p>
                Dans le cadre du renforcement de la transparence budgétaire dans la gestion de nos finances publiques, le Gouvernement met en place <strong>la Plateforme du Ministère du budget.</strong>
                Ce site internet dédié aux citoyens, permet d’accéder à l’information budgétaire sur la façon dont les ressources seront mobilisées, sur leur utilisation ainsi que sur les acteurs intervenants dans le processus budgétaire. L’objectif est de donner l’opportunité aux citoyens de comprendre la préparation du budget, son contenu et son examen. A cet effet, il convient de partager avec le public l’ensemble des moyens financiers prévus par le Gouvernement pour la poursuite de l’amélioration des conditions de vie des populations.
                Il faut retenir qu’au titre du budget 2022, le Gouvernement reste engagé à poursuivre la dynamique, amorcée ces dernières années,<strong> d’améliorer les conditions de vie de la population, en adoptant une gestion rigoureuse des ressources publiques et à partageant les fruits de la croissance à toute la population.</strong> Ainsi, les grandes lignes de la politique de partage de la prospérité telles que déclinées dans la déclaration de politique générale du Gouvernement devant l’Assemblée Nationale reste d’actualité.</p>
            </div>
          </div>
        </div>
      </div>
    </app-card>
  </div>

  </div>
  <div class="row">

    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-green">Recettes Totales</h4>
              <h6 class="text-muted m-b-0">{{totalReceipt}}</h6>
            </div>
            <div class="col-4 text-right">
              <i class="fa fa-line-chart  f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-green">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">Recettes Totales de l'état</p>
            </div>
            <div class="col-3 text-right">
              <i class="fa fa-line-chart  text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
      <div class="card">
        <div class="card-block">
          <div class="row align-items-center">
            <div class="col-8">
              <h4 class="text-c-red">Dépenses Totales</h4>
              <h6 class="text-muted m-b-0">{{totalExpense}}</h6>
            </div>
            <div class="col-4 text-right">
              <i class="fa fa-pie-chart f-28"></i>
            </div>
          </div>
        </div>
        <div class="card-footer bg-c-red">
          <div class="row align-items-center">
            <div class="col-9">
              <p class="text-white m-b-0">Dépenses Totales de l'état</p>
            </div>
            <div class="col-3 text-right">
              <i class="fa fa-pie-chart text-white f-16"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-md-6">
    <div class="card">
      <div class="card-block">
        <div class="row align-items-center">
          <div class="col-8">
            <h4 class="text-c-purple">Solde Total</h4>
            <h6 class="text-muted m-b-0">{{sold}}</h6>
          </div>
          <div class="col-4 text-right">
            <i class="nc-icon nc-money-coins text-gray"></i>
            <i class="fa fa-money f-28"></i>
          </div>
        </div>
      </div>
      <div class="card-footer bg-c-purple">
        <div class="row align-items-center">
          <div class="col-9">
            <p class="text-white m-b-0">Solde Total de l'état</p>
          </div>
          <div class="col-3 text-right">
            <i class="fa fa-money text-white f-16"></i>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-6" style=" padding-left: 5px ; padding-right: 5px">
    <app-card [title]="'RECETTES PAR ARTICLE (%)'" [headerContent]="'pourcentage de recette pour chaque article'">
      <div class="card card-chart">
        <div class="card-body">
          <canvas id="chartReceiptsByArticles"></canvas>
        </div>
      </div>
    </app-card>
    </div>

    <div class="col-md-6" style=" padding-left: 5px ; padding-right: 5px">
      <app-card [title]="'DEPENSES PAR NATURE (%)'" [headerContent]="'pourcentage de dépense pour chaque nature'">
      <div class="card card-chart">
        <div class="card-body">
          <canvas id="chartExpensesByNature"></canvas>
        </div>
      </div>
      </app-card>
    </div>
  </div>

</div>
