<section class="login-block">
  <!-- Container-fluid starts -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <!-- Authentication card start -->
        <form class="md-float-material form-material" action="javascript:">
          <div class="text-center">
            <img src="assets/images/logo.png" alt="logo.png">
          </div>
          <div class="auth-box card">
            <div class="card-block">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-center">Sign In</h3>
                </div>
              </div>
              <div class="form-group form-primary">
                <input type="text" name="email" class="form-control" required=""
                       [(ngModel)]="login">
                <span class="form-bar"></span>
                <label class="float-label">Your Email Address</label>
              </div>
              <div class="form-group form-primary">
                <input type="password" name="password" class="form-control" required=""
                       [(ngModel)]="password">
                <span class="form-bar"></span>
                <label class="float-label">Password</label>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-12">
                  <div class="checkbox-fade fade-in-primary d-">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                  <div class="forgot-phone text-right f-right">
                    <a [routerLink]="['/auth/forgot']" class="text-right f-w-600"> Forgot Password?</a>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="button" class="btn btn-primary btn-md btn-block waves-light text-center m-b-20 ripple"
                          (click)="onSubmit()">Sign in</button>
                </div>
              </div>

              <div class="col-md-12">
                <h6 class="text-center"  style="color: #cc2127 ;">{{errorMessage}}</h6>
              </div>

              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you to <a [routerLink]="['/auth/registration/simple']" class="text-right f-w-600"> registration</a></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/logo.png" alt="small-logo.png" width="60" height="60">
                </div>
              </div>
            </div>
          </div>
        </form>
        <!-- end of form -->
      </div>
      <!-- end of col-sm-12 -->
    </div>
    <!-- end of row -->
  </div>
  <!-- end of container-fluid -->
</section>
