<div class="page-body">
  <div class="row">
    <div class="row">
      <div class="col-sm-12">
        <app-card [title]="'Calendrier budgétaire'" [blockClass]="'panels-wells'" [cardOptionBlock]="true">
          <div class="row">
            <div class="col-xl-12 col-lg-8 col-md-6 col-sm-4">
              <div class="panel panel-primary">
                <div class="panel-heading bg-primary">
                  Calendrier budgétaire
                </div>
                <div class="panel-body">
                  <p>
                    Le budget est élaboré par le Gouvernement et voté par <strong> l’Assemblée Nationale dans le cadre de la Loi de finances.</strong>
                    L’Assemblée Nationale est la seule Institution habilitée à autoriser le Gouvernement à prélever les ressources sur les citoyens (contribuables) et à les affecter à des dépenses publiques.   </div>
              </div>
            </div>
          </div>
        </app-card>
      </div>

    </div>

    <div class="col-xl-12 col-md-12">
      <app-card [title]="'Calendrier'" [cardClass]="'latest-update-card'">
        <div class="latest-update-box">
          <div class="row p-t-20 p-b-30" *ngFor="let budgetPeriod of calendar">
            <div class="col-2 text-right update-meta">
              <p class="text-muted m-b-0 d-inline">{{budgetPeriod.periode}}</p>
              <i class="fa fa-briefcase bg-c-blue update-icon" ></i>

            </div>
            <div class="col">
              <h5 class="h5">Etape {{budgetPeriod.etape}} : {{budgetPeriod.libelle_periode}}</h5>
              <ul *ngFor="let activite of budgetPeriod.activites">
                <li>
                  <div class="row">
                    <div class="col">{{activite.libelle_activite}}</div>
                    <div align="right" class="col col-lg-1">
                      <i class="{{activite.statut}}" style="{{activite.color}}"></i>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
<!--          <div class="row p-b-30">-->
<!--            <div class="col-auto text-right update-meta">-->
<!--              <p class="text-muted m-b-0 d-inline">4 hrs ago</p>-->
<!--              <i class="fa fa-briefcase bg-c-red update-icon"></i>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <h6>+ 5 New Products were added!</h6>-->
<!--              <p class="text-muted m-b-0">Congratulations!</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row p-b-30">-->
<!--            <div class="col-auto text-right update-meta">-->
<!--              <p class="text-muted m-b-0 d-inline">1 day ago</p>-->
<!--              <i class="fa fa-check bg-c-green update-icon"></i>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <h6>Database backup completed!</h6>-->
<!--              <p class="text-muted m-b-0">Download the <span class="text-c-blue">latest backup</span>.</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="row p-b-0">-->
<!--            <div class="col-auto text-right update-meta">-->
<!--              <p class="text-muted m-b-0 d-inline">2 day ago</p>-->
<!--              <i class="fa fa-facebook bg-facebook update-icon"></i>-->
<!--            </div>-->
<!--            <div class="col">-->
<!--              <h6>+2 Friend Requests</h6>-->
<!--              <p class="text-muted m-b-10">This is great, keep it up!</p>-->
<!--              <div class="table-responsive">-->
<!--                <table class="table table-hover">-->
<!--                  <tr>-->
<!--                    <td class="b-none">-->
<!--                      <a href="javascript:" class="align-middle">-->
<!--                        <div class="d-inline-block">-->
<!--                          <h6>Jeny William</h6>-->
<!--                        </div>-->
<!--                      </a>-->
<!--                    </td>-->
<!--                  </tr>-->
<!--                </table>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="text-center">
          <a href="javascript:" class="b-b-primary text-primary">View all Projects</a>
        </div>
      </app-card>
    </div>

  </div>
</div>
