<div class="error-400">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-uppercase text-center">
          <h1>400</h1>
          <h5>BAD CLIENT REQUEST !</h5>
          <p class="text-muted">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
          <a [routerLink]="['/dashboard/budget']" class="btn btn-primary btn-lg ripple">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
