<div class="page-body">

  <div class="row">
    <div class="col-lg-12">
      <div class="cover-profile">
        <div class="profile-bg-img">
          <img class="profile-bg-img img-fluid" src="assets/images/user-profile/bg-img1.jpg" alt="bg-img">
          <div class="card-block user-info">
            <div class="col-md-12">
              <div class="media-left">
                <a href="javascript:" class="profile-image">
                  <img class="user-img img-radius" src="assets/images/avatar-4.jpg" alt="avatar">
                </a>
              </div>
              <div class="media-body row">
                <div class="col-lg-12">
                  <div class="user-title">
                    <h2>{{userDetails.login}}</h2>
                    <span class="text-white">{{userDetails.email}}</span>
                  </div>
                </div>
                <div>
                  <div class="pull-right cover-btn">
                    <button type="button" class="btn btn-primary m-r-10 m-b-5 ripple light"><i class="icofont icofont-plus"></i> Follow</button>
                    <button type="button" class="btn btn-primary ripple light"><i class="icofont icofont-ui-messaging"></i> Message</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="md-tabs md-card-tabs">
        <ngb-tabset>
          <ngb-tab title="Personal Info">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <!-- personal card start -->
                <div class="card">
                  <div class="card-header">
                    <h5 class="card-header-text">About Me</h5>
                    <button id="edit-btn" type="button" class="btn btn-sm btn-primary pull-right ripple light" (click)="toggleEditProfile()">
                      <i class="icofont {{ editProfileIcon }}"></i>
                    </button>
                  </div>
                  <div class="card-body">
                    <div class="view-info" *ngIf="editProfile">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="general-info">
                            <div class="row">
                              <div class="col-lg-12 col-xl-12">
                                <div class="table-responsive">
                                  <table class="table m-0">
                                    <tbody>
                                    <tr>
                                      <th scope="row">Name</th>
                                      <td>{{userDetails.login}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Email</th>
                                      <td>{{userDetails.email}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Active</th>
                                      <td>{{userDetails.active}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">Logon</th>
                                      <td>{{userDetails.logon}}</td>
                                    </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                            <!-- end of row -->
                          </div>
                          <!-- end of general info -->
                        </div>
                        <!-- end of col-lg-12 -->
                      </div>
                      <!-- end of row -->
                    </div>
                    <!-- end of view-info -->
                    <div class="edit-info" *ngIf="!editProfile">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="general-info form-material">
                            <div class="row">

                              <div class="col-lg-12 ">

                                <div class="material-group">
                                  <div class="form-group form-primary">
                                    <input type="text" name="footer-email" class="form-control" required="" [(ngModel)]="userDetails.login">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Name</label>
                                  </div>
                                </div>

                                <div class="material-group">
                                    <div class="form-group form-primary">
                                      <input type="text" name="footer-email" class="form-control" required="" [(ngModel)]="userDetails.email">
                                      <span class="form-bar"></span>
                                      <label class="float-label">Email</label>
                                    </div>
                                </div>

                                <div class="material-group">
                                  <div class="form-group form-primary">
                                    <input type="text" name="footer-email" class="form-control" required="" [(ngModel)]="userDetails.active">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Active</label>
                                  </div>
                                </div>

                                <div class="material-group">
                                  <div class="form-group form-primary">
                                    <input type="text" name="footer-email" class="form-control" required="" [(ngModel)]="userDetails.logon">
                                    <span class="form-bar"></span>
                                    <label class="float-label">Logon</label>
                                  </div>
                                </div>

                              </div>
                            </div>
                            <!-- end of row -->
                            <div class="text-right">
                              <button class="btn btn-grd-info ripple light md-close m-1">confirm</button>
                              <button class="btn btn-grd-inverse ripple light md-close m-1" (click)="toggleEditProfile()">Cancel</button>
                            </div>
                          </div>
                          <!-- end of edit info -->
                        </div>
                        <!-- end of col-lg-12 -->
                      </div>
                      <!-- end of row -->
                    </div>
                    <!-- end of edit-info -->
                  </div>
                  <!-- end of card-body -->
                </div>
                <!-- personal card end-->
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Entites">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <div class="row">
                  <div class="col-xl-12 col-md-12">
                    <app-card [title]="'Entites'" [cardOptionBlock]="true">
                      <div class="dt-responsive" *ngIf="data | async as data">
                        <div class="table-responsive">
                          <table datatable class="table table-striped table-bordered">
                            <thead>
                            <tr>
                              <th>id</th>
                              <th>Libelle</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of userDetails.entites">
                              <td>{{data.id}}</td>
                              <td>{{data.libelle}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </app-card>
                    <!-- contact data table card end -->
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
          <ngb-tab title="Authorization">
            <ng-template ngbTabContent>
              <div [@fadeInOutTranslate] class="m-t-15">
                <div class="row">
                  <div class="col-xl-12 col-md-12">
                    <app-card [title]="'Authorization'" [cardOptionBlock]="true">
                      <div class="dt-responsive" *ngIf="data | async as data">
                        <div class="table-responsive">
                          <table datatable class="table table-striped table-bordered">
                            <thead>
                            <tr>
                              <th>Libelle</th>
                              <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let data of userDetails.authorizationDtos">
                              <td>{{data.libelle}}</td>
                              <td>{{data.action}}</td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </app-card>
                    <!-- contact data table card end -->
                  </div>
                </div>
              </div>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>

</div>
