<div class="error-400">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-uppercase text-center">
          <h1>403</h1>
          <h5>FORBIDDEN ERROR!</h5>
          <p class="text-muted">YOU DON'T HAVE PERMISSION TO ACCESS ON THIS SERVER.</p>
          <a [routerLink]="['/dashboard/budget']" class="btn btn-primary btn-lg ripple">Back to Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
